
@{
    ViewBag.Title = "ChangePassword";
}

<h2>ChangePassword</h2>
<label for="password">Old Password</label>
<br />
<input type="password" id="password" name="password">
<label>*</label>
<br />

<label for="new_psd">New Password</label>
<br />
<input type="password" id="new_psd" name="new_password">
<label>*</label>
<br />

<label for="confirm_password">Confirm Password</label>
<br />
<input type="password" id="confirm_password" name="confirm_password">
<label>*</label>
<br />

